:root {
  --rowNum: 8;
  --colNum: 8;
  --boxSize: 100px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.space {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}